/* Establece un alto máximo para el contenedor */
.scrollable-container {
    max-height: 550px; /* Ajusta esto según tus necesidades */
    overflow-y: auto; /* Activa la barra de desplazamiento vertical cuando sea necesario */
}
