<div class="container">
    <div class="breadcrumbs">
        <a href="#"><i class="las la-home"></i></a>
        <a href="/auth/forgot-password" class="active">Recuperar Contraseña</a>
    </div>
</div><!-- forgot password -->
<div class="section_padding mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7">
                <div class="padding_default shadow_sm">
                    <h2 class="title_2">Recuperar Contraseña</h2>
                    <p class="text_md mb-4">Por favor, introduzca su dirección de correo electrónico
                        a continuación para recibir un enlace.</p>
                    <div class="single_billing_inp mb-0">
                        <label>Correo Electrónico <span>*</span></label>
                        <input type="email" placeholder="correo@correo.com" [(ngModel)]="email" required>
                    </div>
                    <div class="mt-4">
                        <button (click)="fogortPassword()" type="submit" class="default_btn rounded small">restablecer mi
                            contraseña</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>