<!-- breadcrumbs -->
<div class="container">
    <div class="breadcrumbs">
        <a href="#"><i class="las la-home"></i></a>
        <a href="#" class="active">Politicas de privacidad</a>
    </div>
</div>

<!--Login wrap-->
<div class="register_wrap section_padding_b">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-7 col-md-9">
                <div class="register_form padding_default shadow_xl">
                    <h4 class="title_2 text-center">Politicas de privacidad</h4>
                    <br>
                    <hr>
                    <p class="mb-4 text_md text-center scrollable-container" [innerHTML]="texto"></p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>